<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Using loop in the page</title>
</head>
<body>
    <!-- {% for p in myvalue%} -->
    {% if myvariable%}
    <div><p>Hello world this side is abhisehk</p>
        <hr>
        <p>This is if statement which is used to print the value on it.<p>
        <h1>GO to hell</h1></div>
    
    {% endif %}
    <!-- {% endfor %} -->
</body>
</html>