<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django page 3</title>
</head>
<body>
    <div style="border:2px solid black">
        <p style="background-color:pink">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quibusdam saepe est autem consequatur exercitationem repudiandae fugiat deserunt dignissimos quia ipsum quod sapiente, quo impedit! Molestias ex magni ea omnis atque voluptatibus doloribus sequi? Consectetur vero molestias, vel magni quidem voluptatum velit voluptatibus. Deserunt, nihil! Reiciendis provident at amet qui eos sit vero fugiat, excepturi ut consequuntur necessitatibus sunt, magni commodi vitae voluptas facilis earum corporis iure, ipsa sequi voluptatibus nihil dolor odio quae! Repellat aliquid non iusto tempora ullam voluptas reprehenderit voluptates incidunt rerum! Dolor, quam ut? In dolorem nemo deleniti obcaecati cumque accusantium ullam id, libero beatae eos?</p>
        <hr>
        <div>
            {% include "nav.html" %}
        </div>
    </div>
</body>
</html>