{% extends 'base.html' %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Email-Register</title>{% endblock title%}
  </head>
  <body>
    {% block body %}
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            <h2>Please recheck again</h2>
            <a href="{% url 'registration'%}" class="btn btn-primary btn-lg">Back</a>
        </div>
    {% endblock body%}
  </body>
</html>