{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'mystyle.css' %}" >
</head>
<body id="formycolor">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur officiis aut quae sed. Tempora temporibus nobis ad, consequatur quasi sequi doloribus, minima nemo laudantium sunt aliquam mollitia tenetur amet quam cupiditate quae facere blanditiis deleniti culpa saepe asperiores voluptatibus eos eveniet quidem? Vel corrupti excepturi amet autem dolor! Asperiores iusto, repudiandae pariatur iure facilis nesciunt minus eum laudantium molestiae! Ipsa fugiat praesentium autem placeat expedita a, beatae reiciendis, ex minus libero fuga in quasi. Eligendi maxime distinctio consequuntur officiis recusandae vel laborum neque, alias aperiam illo quis quibusdam? Nesciunt rem quod harum ipsa eaque ducimus similique reprehenderit, porro aliquid ipsum!
</body>
</html>