{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Post{% endblock title %}
</head>
<body>
    {% block body %}
    <div class="row">
        <div class="col s12">
            <h4>Welcome to post page</h4>
        </div>
    </div>
    
    {% for item in postValue %}
        <div class="row">
            <div class="col s9" style="padding: 10px;">
                    {{item.Post_content |truncatewords:45 | safe}}
                    <div class="" style="padding: 10px;">
                        <a href="{% url 'readmore' item.Post_id %}" class="btn">Read More...</a>
                    </div>
                    <br>
                    <br>
            </div>
            <div class="col s3">
                    <img src="/Media/{{item.Post_image}}" class="responsive-img" style="width: 200px;">
                    <br>
            </div>
        </div>
    {% endfor %}

    {% endblock body%}
</body>
</html>